<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置自定义扫描的包-->
    <context:component-scan base-package="org.haijun.study.service" />

    <!--spring 集成spring mvc方式，spring Ioc 容器配置，spring IOC 容器的Bean 不能引用spring mvc的bean-->
    <context:component-scan base-package="org.haijun.study" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" /><!--除了该注解都支持，排除spring mvc配置扫描的-->
    </context:component-scan>


</beans>