<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--spring 配置为父配置上下文，可以共享，但是不能访问子配置的上下文内容-->
<!--    自定义验证（参考实现类RegexpURLValidator）：http://www.baeldung.com/spring-mvc-custom-validator
    https://blog.csdn.net/poortess/article/details/78136170
    https://www.ibm.com/developerworks/cn/java/j-cn-hibernate-validator/index.html
    https://docs.spring.io/spring/docs/4.1.x/spring-framework-reference/html/validation.html-->
    <context:component-scan base-package="org.haijun.study">
        <context:exclude-filter  type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController" />
    </context:component-scan>
    <!--导入缓存配置文件-->
    <!--<import resource="classpath:spring-config/cache.xml" />-->
</beans>